<?xml version="1.0" encoding="utf-8" ?>
<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<project name="textmetal-github-master" description="textmetal-github-master">

		<workingDirectory>d:\_bad\test-sln</workingDirectory>

		<triggers>
			<intervalTrigger
				name="continuous"
				seconds="3600"
				buildCondition="ForceBuild"
				initialSeconds="0"/>
		</triggers>

		<!--<sourcecontrol type="git">
			<repository>https://github.com/textmetal/main.git</repository>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>-->

		<sourcecontrol type="filesystem">
			<repositoryRoot>D:\development\test-solution</repositoryRoot>
			<autoGetSource>true</autoGetSource>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>C:\Program Files\dotnet\dotnet.exe</executable>
				<buildArgs>restore ".\test-solution.sln" </buildArgs>
			</exec>

			<exec>
				<executable>C:\Program Files\dotnet\dotnet.exe</executable>
				<buildArgs>msbuild /t:Rebuild /p:Configuration=Debug ".\test-solution.sln" </buildArgs>
			</exec>
		</tasks>

		<!--<tasks>
			<exec>
				<executable>C:\Program Files\dotnet\dotnet.exe</executable>
				<buildArgs>restore ".\src\TextMetal.sln" </buildArgs>
				<logger>CruiseControl.MSBuild.dll</logger>
			</exec>
			<exec>
				<executable>C:\Program Files\dotnet\dotnet.exe</executable>
				<buildArgs>msbuild /t:Rebuild /p:Configuration=Debug ".\src\TextMetal.sln" </buildArgs>
				<logger>CruiseControl.MSBuild.dll</logger>
			</exec>
		</tasks>-->

		<publishers>
			<xmllogger />
			<artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="50" />
		</publishers>

	</project>
</cruisecontrol>
